.card-panel {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    width: 300px;
    aspect-ratio: 16/9;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: var(--white-color);
    color: var(--dark-color);

    svg {
        position: absolute;

        &:first-child {
            left: 15px;
            top: 15px;
            width: 50px;
            height: 40px;
            background: rgba(0,0,0,0.2);
            border-radius: 5px;
        }

        &:last-child {
            right: 0;
            bottom: 0;
            width: 100px;
            height: 70px;
        }
    }

    div {

        &.number {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-family: monospace;
        }

        &.amount {
            position: absolute;
            font-size: 24px;
            font-weight: bold;
            display: flow;
            bottom: 20px;
            left: 20px;
        }
    }
}
